html{
  background: #181818;
  color: white;
}

body{
  max-width: 880px;
  margin: 0 auto;
}

button{
  width: 80%;
  height:2%;
  margin: 3% auto;
  border: 1px solid black;
  background: #61DAFB;
  font-size: 1rem;
  border-radius: 10px;
  transition: 1s;
  }
  
  button:hover{
      transform: scale(1.09);
      /* background: black;
      color: #61DAFB; */
      border-radius: 8px;
      cursor: pointer;
  }
  
  input {
    width: 85%;
    border-radius: 8px;
    text-align: center;
  }

